<section class="ubber-container">
  <div class="final-heading">
    <h1 class="final-heading-big">Simple, traffic-based pricing</h1>
    <h3 class="final-heading-small">Sign-up for our 30-day trial. No credit card required</h3>
  </div>
  <main class="main-container">
    <div class="section--one">
      <div class="description-info">
        <p class="pageviews">{{ pickedValue }} pageviews</p>
        <h2 class="price-heading">
          ${{ calculations }} <sup class="month-styling">/month</sup>
        </h2>
      </div>
      <input
        type="range"
        min="0"
        max="4"
        value="0"
        step="1"
        class="slider"
        id="myRange"
        name="myRange"
        [(ngModel)]="sliderValue"
        (change)="sliderValueChange($event)"
      />
    </div>
    <hr class="my-awesome-line" />
    <div class="section--two">
      <p>Monthly Billing</p>
      <label class="switch">
        <input
          type="checkbox"
          [checked]="isDiscounted"
          (change)="discountApplied()"
        />
        <span class="swtch round"></span>
      </label>
      <p>
        Yearly Billing
        <span [ngClass]="isDiscounted ? 'discounted' : ''">25% discount</span>
      </p>
    </div>
    <div class="section--three">
      <ul>
        <li>Unlimited websites</li>
        <li>100% data ownership</li>
        <li>Email reports</li>
      </ul>
      <button class="btn" (click)="openModal()">Start my trieal</button>
    </div>
  </main>
  <div class="modal" *ngIf="isOpened">
    <h1>Thank you for choosing our service!</h1>
    <button class="btn-modal-close" (click)="openModal()">Close</button>
  </div>
</section>
